<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">

<title>Документация шаблону NewLevel</title>

<!-- Bootstrap core CSS -->
<link href="dist/css/bootstrap.css" rel="stylesheet">
<link href="highlight.js/styles/default.css" rel="stylesheet">

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
  <script src="assets/js/html5shiv.js"></script>
  <script src=" assets/js/respond.min.js"></script>
<![endif]-->
<style>
    body{overflow-y: scroll;padding-top: 70px;}
    h5, .h5{font-weight: bold;}
    .panel-body h5, .panel-body .h5, h5 *, .h5 *{font-weight: normal;}
    .col-md-3{position: relative;z-index: 1;}
    .p-t-b_0{padding-top: 0;padding-bottom: 0;}
    #navbar-example > .nav{width: 275px;}
    #navbar-example .divider hr{margin: 8px 0;}
    td hr{margin: -8px -8px 0;}
    #navbar-example > .nav > li > a{padding: 2px 10px;font-size: 11px;}
    #navbar-example > .nav > li > a > b, #navbar-example > .nav > li.navbar-header > a, #navbar-example > .nav > li.dropdown > a{font-size: 13px;}
    #navbar-example > .nav > li > a.navbar-brand{text-transform: uppercase;font-weight: bold;}
    .navbar-collapse{padding: 0;}
    .container > h2:first-child{margin-top: 0;}
    .scrollspy-example h2:first-child:first-letter{text-transform: uppercase;}
    td .alert-info{padding: 3px 10px;margin-bottom: 5px;}
    .d_i-b{display: inline-block;}
    li.d_i-b{vertical-align: top;}
    .w-s_n-w{white-space: nowrap;}
    .dropdown-menu li li a{padding: 2px 4px;display: inline;}
    a i{text-decoration: underline;}
    table a i{text-decoration: none;}
    .dropdown-menu .divider{clear: both;}
    .dropdown-menu li.d_i-b{padding: 0 5px 10px;}
    .nav .active .caret{border-top-color: #fff;}
    .nav .active.open .caret{border-top-width: 0px;border-bottom-width: 4px;border-bottom-color: #fff;}
    h4, .h4{color: #0460b0;font-style: italic;}
    .scrollspy-example ul, .scrollspy-example ol{margin-bottom: 7px;}
    .scrollspy-example ul > li, .scrollspy-example ol > li{margin-bottom: 7px;}
    .scrollspy-example ul > li li, .scrollspy-example ol > li li{margin-bottom: 0;}
    .scrollspy-example ul > li > p, .scrollspy-example ol > li > p{margin-bottom: 0;}
    .scrollspy-example ul > li > p+p, .scrollspy-example ol > li > p+p{margin-top: 5px;}
    img{max-width: 100%;}
    .panel-body pre{margin: 10px -15px -15px;border-radius: 0;border: 0;}
    .panel-body pre code{background-color: transparent;}
    p + pre {margin-top: -15px;margin-bottom: 20px;}
    pre + p{margin-top: -10px;}
    .panel-body h5{margin-top: 25px;color: #428bca;text-shadow: 0 1px 1px #2a6496;}
    .s-t{color: #999;}
    .d_i-b{display: inline-block;}
    .o_h{overflow: hidden;display: block;}
    .f_l{float: left;}
    h4{margin-top: 20px;margin-bottom: 5px;}
    td .h4{font-size: 16px;}
    .scrollspy-example a[href^="#"]{border-bottom: 1px dashed #428bca;text-decoration: none;}
    .scrollspy-example a[href^="#"] i{text-decoration: none;}
    .scrollspy-example a[href^="#"]:hover{border-bottom-color: #2a6496;}
    pre.unstyled{background-color: transparent;border:0;padding-left: 0;}
    .w-s_n{white-space: normal;}
    .dropdown-menu.up{top: auto;bottom: 100%;}
    span.is sup{background-color: #fff;padding: 2px;}
    span.notis span{color: red;}
</style>