<ul class="nav nav-stacked nav-pills affix">
    <li class="navbar-header">
        <a href="#main" class="navbar-brand"><b>Главный шаблон</b> (main.tpl)</a>
    </li>
    <li class="divider"><hr/></li>
    <li class="navbar-header">
        <a href="#shop" class="navbar-brand">Шаблоны Shop</a>
    </li>
    <li><a href="#start_page"><b>Главная</b> (start_page.tpl)</a></li>
    <li><a href="#catalog"><b>Каталог</b> (category.tpl)</a></li>
    <li><a href="#search"><b>Поиск</b> (search.tpl)</a></li>
    <li><a href="#brand"><b>Бренд</b> (brand.tpl)</a></li>
    <li><a href="#sub_categories"><b>Страницы подкаткатегорий</b> (categorysubfirst.tpl && categorysubsecond.tpl)</a></li>
    <li><a href="#product"><b>Товар</b> (product.tpl)</a></li>
    <li><a href="#list_brands"><b>Список брендов</b> (brands_images.tpl || brands_list.tpl)</a></li>
    <li><a href="#order"><b>Оформление</b> (cart.tpl)</a></li>
    <li><a href="#orderview"><b>Просмотр заказа</b> (order_view.tpl)</a></li>
    <li><a href="#compare"><b>Сравнение</b> (compare.tpl)</a></li>
    <li><a href="#wishlist"><b>Вишлист</b> (wishlist/wishlist.tpl && wishlist/other_list.tpl)</a></li>
    <li><a href="#profile"><b>Личный кабинет</b> (profile.tpl)</a></li>
    <li class="divider"><hr/></li>
    <li class="navbar-header">
        <a href="#site" class="navbar-brand">Шаблоны сайта</a>
    </li>
    <li><a href="#category"><b>Категории</b> (category.tpl)</a></li>
    <li><a href="#page"><b>Страница</b> (page_full.tpl)</a></li>
    <li><a href="#login"><b>Авторизация</b> (login.tpl)</a></li>
    <li><a href="#regirster"><b>Регистрация</b> (register.tpl)</a></li>
    <li><a href="#offline"><b>Offline</b> (offline.tpl)</a></li>
    <li><a href="#error404"><b>404</b> (404.tpl)</a></li>
    <li class="divider"><hr/></li>
</ul>