<ul class="nav nav-stacked nav-pills affix">
    <li class="dropdown navbar-header">
        <a href="#layout" class="navbar-brand dropdown-toggle" data-toggle="dropdown">Шаблон <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="#menu"><b>Главное меню</b> (menu)</a></li>
            <li><a href="#header"><b>header</b> (header)</a></li>
            <li><a href="#header"><b>footer</b> (footer)</a></li>
            <li><a href="#user_toolbar"><b>Пользовательський тулбар</b> (user-toolbar)</a></li>
        </ul>
    </li>
    <li class="divider"><hr/></li>
    <li><a href="#reset"><b>Обнуление </b>(reset)</a></li>
    <li><a href="#scaffolding"><b>Сетка </b>(scaffolding)</a></li>
    <li><a href="#basesettings"><b>Основные правила </b>(base settings)</a></li>
    <li><a href="#icons"><b>Основные правила иконок </b>(base icons)</a></li>
    <li><a href="#addingselectors"><b>Воспомагательные селекторы </b>(adding selectors)</a></li>
    <li><a href="#methods"><b>Методы </b>(methods)</a></li>
    <li><a href="#nav"><b>Навигация </b>(base nav)</a></li>
    <li><a href="#text"><b>Текстовые стили </b>(text)</a></li>
    <li><a href="#items"><b>Айтемси </b>(items)</a></li>
    <li><a href="#photoblock"><b>Фрейм к картинки </b>(photo-block)</a></li>
    <li><a href="#buttons"><b>Кнопки </b>(buttons base)</a></li>
    <li><a href="#prices"><b>Цены </b>(prices)</a></li>
    <li><a href="#carousels"><b>carousel, scrollpane cycle </b>(carousels)</a></li>
    <li><a href="#form"><b>Формы </b>(form)</a></li>
    <li><a href="#msg"><b>Алерти (msg)</b></a></li>
    <li><a href="#crumbs"><b>Хлебные крошки </b>(crumbs)</a></li>
    <li><a href="#tabs"><b>Табики </b>(tabs)</a></li>
    <li><a href="#filter"><b>Фильтр </b>(filter)</a></li>
    <li><a href="#pagination"><b>Пагинация </b>(pagination)</a></li>
    <li><a href="#drop"><b>Попапы </b>(drop)</a></li>
    <li><a href="#tooltip"><b>Тултипы </b>(tooltip)</a></li>
    <li><a href="#dotted"><b>AJAX - сылки </b> (dotted lines)</a></li>
    <li><a href="#title"><b>Тайтлы</b> (titles)</a></li>
</ul>