<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <nav>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/index.shtml">Быстрый старт</a></li>
                    <li><a href="/layouts.shtml">Шаблоны</a></li>
                    <li><a href="/components_layouts.shtml">Компоненты шаблонов</a></li>
                    <li><a href="/components_css.shtml">Компоненты CSS</a></li>
                    <li><a href="/components_js.shtml">Компоненты JavaScript</a></li>
                    <li><a href="/admin.shtml">Админка</a></li>
                    <li><a href="/examples.shtml">Примеры</a></li>
                </ul>
                <ul class="nav navbar-nav pull-right">
                    <li><a href="/about.shtml">Про</a></li>
                    <li><a href="/contacts.shtml">Контакти</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </nav>
    </div>
</div>