<ul class="nav nav-stacked nav-pills affix">
    <li class="navbar-header dropdown">
        <a href="#" class="navbar-brand dropdown-toggle" data-toggle="dropdown">Меню <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="#mainmenuhorizontal">Главное меню горизонтальное</a></li>
            <li><a href="#mainmenuvertical">Главное меню вертикальное</a></li>
            <li><a href="#mainmenurow">Главное меню (строковый вывод 2-го уровня)</a></li>
            <li><a href="#mainmenucol">Главное меню (столбиковый вывод 2-го уровня)</a></li>
            <li><a href="#mainmenurowcol3">Главное меню (столбиковый вывод 3-го уровня и строковый вывод 2-го уровня)</a></li>
            <li><a href="#mainmenucolcol3">Главное меню (столбиковый вывод 3-го уровня и столбиковый вывод 2-го уровня)</a></li>
            <li class="divider"></li>
        </ul>
    </li>
</ul>