<ul class="nav nav-stacked nav-pills affix">
    <li class="navbar-header dropdown">
        <a href="#files" class="navbar-brand dropdown-toggle" data-toggle="dropdown">Файлы <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li class="navbar-header"><a href="#fileslibraries" class="navbar-brand">Библиотеки</a></li>
            <li><a href="#">jquery-1.8.3.min</a></li>
            <li><a href="#">raphael-min</a></li>
            <li class="divider"></li>
            <li class="navbar-header"><a href="#filesplugins" class="navbar-brand">Плагины</a></li>
            <li><a href="#">cloud-zoom.1.0.3.min</a></li>
            <li><a href="#">jquery.equalhorizcell.min</a></li>
            <li><a href="#">cusel-min-2.5</a></li>
            <li class="divider"></li>
            <li class="navbar-header"><a href="#filesunitedfiles" class="navbar-brand">sp_ll_jc_mw_icms_us_scripts</a></li>
            <li><a href="#">_jquery.jscrollpane.min</a></li>
            <li><a href="#">_jquery.lazyload</a></li>
            <li><a href="#">_jquery.jcarousel.min</a></li>
            <li><a href="#">_jquery.mousewheel</a></li>
            <li><a href="#">_underscore-min</a></li>
            <li><a href="#">_jquery.imagecms.shop</a></li>
            <li><a href="#">_scripts</a></li>
            <li class="divider"></li>
            <li class="navbar-header"><a href="#filesmodules" class="navbar-brand">Файлы модулей</a></li>
            <li><a href="#"></a></li>
        </ul>
    </li>
    <li class="navbar-header dropdown">
        <a href="#layouts" class="navbar-brand dropdown-toggle" data-toggle="dropdown">Шаблоны <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="#">Шаблон корзины</a></li>
            <li><a href="#">Шаблон корзины оформления заказа</a></li>
            <li><a href="#">Шаблон автозаполнений поиска</a></li>
            <li><a href="#">Шаблон собщения о появлении</a></li>
            <li><a href="#">Розметкa Tooltip</a></li>
            <li><a href="#">Розметкa попапу - количества нейденых профильтрированных свойств в фильтре</a></li>
            <li><a href="#">Розметкa попапу модальнных уведомлений</a></li>
            <li><a href="#">Розметкa попапу моального подтвержения действия</a></li>
        </ul>
    </li>
    <li class="navbar-header">
        <a href="#globalvars" class="navbar-brand">Глобальные переменные</a>
    </li>
    <li class="navbar-header dropdown">
        <a href="#objects" class="navbar-brand dropdown-toggle" data-toggle="dropdown">Обекты <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="#optionsMenu">optionsMenu</a></li>
            <li><a href="#scrollPane">scrollPane</a></li>
            <li><a href="#carousel">carousel</a></li>
            <li><a href="#optionCompare">optionCompare</a></li>
            <li><a href="#optionsDrop">optionsDrop</a></li>
            <li><a href="#productStatus">productStatus</a></li>
            <li><a href="#imageCmsApiDefaults">imageCmsApiDefaults</a></li>
            <li><a href="#icons">icons</a></li>
            <li><a href="#genObj">genObj</a></li>
            <li><a href="#cuselOptions">cuselOptions</a></li>
            <li><a href="#message">message</a></li>
            <li><a href="#lazyload">lazyload</a></li>
            <li><a href="#text">text</a></li>
            <li><a href="#tabs">tabs</a></li>
            <li class="divider"></li>
            <li class="navbar-header">
                <a href="#objectshop" class="navbar-brand">Обект Shop:</a>
            </li>
            <li><a href="#objectcart">Cart</a></li>
            <li><a href="#objectcompare">CompareList</a></li>
            <li class="divider"></li>
            <li class="navbar-header">
                <a href="#objectimagecmsapi" class="navbar-brand">Обект ImageCMSApi:</a>
            </li>
            <li class="divider"></li>
            <li class="navbar-header">
                <a href="#objectwishlist" class="navbar-brand">Обект WishList:</a>
            </li>
            <li class="divider"></li>
            <li class="navbar-header">
                <a href="#objectcomments" class="navbar-brand">Обект Comments:</a>
            </li>
        </ul>
    </li>
    <li class="navbar-header dropdown">
        <a href="#plugins" class="navbar-brand dropdown-toggle" data-toggle="dropdown">Плагины <span class="caret"></span></a>
        <ul class="dropdown-menu w-s_n-w">
            <li class="d_i-b">
                <ul class="nav nav-stacked nav-pills">
                    <li class="navbar-header">
                        <a href="#pluginsLayout" class="navbar-brand">Плагины шаблона:</a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="#actual"><b>actual</b> (плагин реальных свойств)</a></li>
                    <li><a href="#drop"><b>drop</b> (вспливающые окна)</a></li>
                    <li><a href="#tabs"><b>tabs</b> (табики)</a></li>
                    <li><a href="#equalhorizcell"><b>equalHorizCell</b> (плагин сравнений)</a></li>
                    <li><a href="#nStCheck"><b>nStCheck</b> (нестандартные чекбоксы)</a></li>
                    <li><a href="#nStRadio"><b>nStRadio</b> (нестандартные радіобоксы)</a></li>
                    <li><a href="#autocomplete"><b>autocomplete</b> (автодополнение)</a></li>
                    <li><a href="#tooltip"><b>tooltip</b> (всплывающие подсказки)</a></li>
                    <li><a href="#menuImageCms"><b>menuImageCms</b> (плагин гланого меню категорий)</a></li>
                    <li><a href="#plusminus"><b>plusminus</b> (плагин изминения количества)</a></li>
                    <li><a href="#minValue"><b>minValue</b> (плагин минимальног значения)</a></li>
                    <li><a href="#maxValue"><b>maxValue</b> (плагин максимального значения)</a></li>
                    <li><a href="#myCarousel"><b>myCarousel</b> (плагин розширеня jcarousel)</a></li>
                    <li><a href="#sliderInit"><b>sliderInit</b> (плагин розширеня slider (ui))</a></li>
                    <li><a href="#cleaverFilterMethod"><b>cleaverFilterMethod</b> (плагин умного фильтра)</a></li>
                    <li><a href="#cloneAddPaste"><b>cloneAddPaste</b></a></li>
                    <li><a href="#starRating"><b>starRating</b> (плагин рейтинга)</a></li>
                </ul>
            </li>
        </ul>
    </li>

    <li class="navbar-header dropdown">
        <a href="#functions" class="dropdown-toggle navbar-brand" data-toggle="dropdown">Функии <span class="caret"></span></a>
        <ul class="dropdown-menu w-s_n-w">
            <li class="d_i-b">
                <ul class="nav nav-stacked nav-pills">
                    <li class="navbar-header">
                        <a class="navbar-brand" href="#shopfunctions">Shop</a>
                    </li>
                    <li><a href="#tovarChangeVariant">tovarChangeVariant</a></li>
                    <li><a href="#tovarChangeCount">tovarChangeCount</a></li>
                    <li><a href="#pasteItemsTovars">pasteItemsTovars</a></li>
                    <li><a href="#processComp">processComp</a></li>
                    <li><a href="#processWish">processWish</a></li>
                    <li><a href="#processCarts">processCarts</a></li>
                    <li><a href="#processBtnBuyCount">processBtnBuyCount</a></li>
                    <li><a href="#getDiscount">getDiscount</a></li>
                    <li><a href="#getKitDiscount">getKitDiscount</a></li>
                    <li><a href="#hideInfoDiscount">hideInfoDiscount</a></li>
                    <li><a href="#displayInfoDiscount">displayInfoDiscount</a></li>
                    <li><a href="#displayDiscount">displayDiscount</a></li>
                    <li><a href="#applyGift">applyGift</a></li>
                    <li><a href="#renderGiftInput">renderGiftInput</a></li>
                    <li><a href="#giftError">giftError</a></li>
                    <li><a href="#renderGiftSucces">renderGiftSucces</a></li>
                    <li><a href="#btnbuyInitialize">btnbuyInitialize</a></li>
                    <li><a href="#initShopPage">initShopPage</a></li>
                    <li><a href="#rmFromPopupCart">rmFromPopupCart</a></li>
                    <li><a href="#togglePopupCart">togglePopupCart</a></li>
                    <li><a href="#renderOrderDetails">renderOrderDetails</a></li>
                    <li><a href="#changeDeliveryMethod">changeDeliveryMethod</a></li>
                    <li><a href="#recountCartPage">recountCartPage</a></li>
                    <li><a href="#checkSyncs">checkSyncs</a></li>
                    <li><a href="#countSumBask">countSumBask</a></li>
                    <li><a href="#compareListCount">compareListCount</a></li>
                    <li><a href="#wishListCount">wishListCount</a></li>
                    <li><a href="#existsVnumber">existsVnumber</a></li>
                    <li><a href="#existsVnames">existsVnames</a></li>
                    <li><a href="#condProduct">condProduct</a></li>
                </ul>
            </li>
            <li class="d_i-b">
                <ul class="nav nav-stacked nav-pills">
                    <li class="navbar-header">
                        <a class="navbar-brand" href="#frontfunctions">Front</a>
                    </li>
                    <li><a href="#pluralStr">pluralStr</a></li>
                    <li><a href="#serializeForm">serializeForm</a></li>
                    <li><a href="#banerResize">banerResize</a></li>
                    <li><a href="#removePreloaderBaner">removePreloaderBaner</a></li>
                    <li><a href="#initCarouselJscrollPaneCycle">initCarouselJscrollPaneCycle</a></li>
                    <li><a href="#hideDrop">hideDrop</a></li>
                    <li><a href="#showHidePart">showHidePart</a></li>
                    <li><a href="#dropBaskResize">dropBaskResize</a></li>
                    <li><a href="#decorElemntItemProduct">decorElemntItemProduct</a></li>
                    <li><a href="#drawIcons">drawIcons</a></li>
                    <li><a href="#itemUserToolbar">itemUserToolbar</a></li>
                    <li><a href="#margZoomLens">margZoomLens</a></li>
                    <li><a href="#reinitializeScrollPane">reinitializeScrollPane</a></li>
                    <li><a href="#ieInput">ieInput</a></li>
                    <li><a href="#onComplete">onComplete</a></li>
                    <li><a href="#beforeShowHref">beforeShowHref</a></li>
                    <li><a href="#init">init</a></li>
                </ul>
            </li>
            <li class="d_i-b">
                <ul class="nav nav-stacked nav-pills">
                    <li class="navbar-header">
                        <a class="navbar-brand" href="#wishlistfunctions">Вишлист</a>
                    </li>
                    <li><a href="#deleteImage">deleteImage</a></li>
                    <li><a href="#changeDataWishlist">changeDataWishlist</a></li>
                    <li><a href="#createWishList">createWishList</a></li>
                    <li><a href="#validateWishPopup">validateWishPopup</a></li>
                    <li><a href="#reload">reload</a></li>
                    <li><a href="#addToWL">addToWL</a></li>
                    <li><a href="#removeItem">removeItem</a></li>
                    <li><a href="#removeWL">removeWL</a></li>
                    <li><a href="#changeBtnBuyWL">changeBtnBuyWL</a></li>
                    <li><a href="#processWishPage">processWishPage</a></li>
                </ul>
            </li>
            <li class="d_i-b">
                <ul class="nav nav-stacked nav-pills">
                    <li class="navbar-header">
                        <a class="navbar-brand" href="#discountfunctions">Скидки</a>
                    </li>
                    <li><a href="#getDiscountBack">getDiscountBack</a></li>
                    <li><a href="#loadCertificat">loadCertificat</a></li>
                </ul>
            </li>
            <li class="d_i-b">
                <ul class="nav nav-stacked nav-pills">
                    <li class="navbar-header">
                        <a class="navbar-brand" href="#filterfunctions">Фильтр</a>
                    </li>
                    <li><a href="#filtertype">filtertype</a></li>
                    <li><a href="#changeSelectFilter">changeSelectFilter</a></li>
                    <li><a href="#afterAjaxInitializeFilter">afterAjaxInitializeFilter</a></li>
                    <li><a href="#ajaxRecount">ajaxRecount</a></li>
                </ul>
            </li>

        </ul>
    </li>
    <li class="navbar-header dropdown">
        <a href="#events" class="dropdown-toggle navbar-brand" data-toggle="dropdown">События <span class="caret"></span></a>
        <ul class="dropdown-menu w-s_n-w">
            <li class="d_i-b">
                <ul class="nav nav-stacked nav-pills">
                    <li class="navbar-header">
                        <a class="navbar-brand" href="#eventsshop">Shop</a>
                    </li>
                    <li><a href="#focus">focus окна</a></li>
                    <li><a href="#methoddeliv">change.methoddeliv</a></li>
                    <li><a href="#orderproducts">change.orderproducts</a></li>
                    <li><a href="#orderproducts">change.countvisibleproducts</a></li>
                    <li><a href="#toTiny">click.toTiny</a></li>
                    <li><a href="#toCompare">click.toCompare</a></li>
                    <li><a href="#inCompare">click.inCompare</a></li>
                    <li><a href="#toWish">click.toWish</a></li>
                    <li><a href="#inWish">click.inWish</a></li>
                </ul>
            </li>
            <li class="d_i-b">
                <ul class="nav nav-stacked nav-pills">
                    <li class="navbar-header">
                        <a class="navbar-brand" href="#eventsfront">Front</a>
                    </li>
                    <li><a href="#resize">resize окна</a></li>
                    <li><a href="#scriptDefer">scriptDefer окна</a></li>
                    <li><a href="#thumb">click.thumb</a></li>
                    <li><a href="#mousetrap">click.mousetrap</a></li>
                    <li><a href="#trigger">click.trigger</a></li>
                    <li><a href="#widget_ajax">widget_ajax</a></li>
                </ul>
            </li>
        </ul>
    </li>

    <li class="navbar-header dropdown">
        <a href="#modules" class="dropdown-toggle navbar-brand" data-toggle="dropdown">Скрипты модулей <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="#filter">Фильтр</a></li>
            <li><a href="#rating">Рейтинг</a></li>
            <li><a href="#comments">Комментарии</a></li>
            <li><a href="#discounts">Скидки</a></li>
        </ul>
    </li>
</ul>