<ul class="nav nav-stacked nav-pills affix">
    <li class="navbar-header">
        <a href="#components" class="navbar-brand">Компоненты</a>
    </li>
    <li class="divider"><hr/></li>
    <li class="navbar-header">
        <a href="#shop" class="navbar-brand">Компоненты шаблонов Shop</a>
    </li>
    <li><a href="#auth_data"><b>Сылки профиля</b> (auth_data.tpl)</a></li>
    <li><a href="#callback"><b>Callback</b> (callback.tpl)</a></li>
    <li><a href="#cart_data"><b>Мини корзина</b> (cart_data.tpl)</a></li>
    <li><a href="#catalogue_header"><b>Сортировка-просмотр</b> (catalogue_header.tpl)</a></li>
    <li><a href="#compare_data"><b>Мини сравнение</b> (compare_data.tpl)</a></li>
    <li><a href="#js_template"><b>Файл JS шаблонов</b> (js_template.js)</a></li>
    <li><a href="#pattern_custom_field"><b>Шаблон дополнительных полей</b> (pattern_custom_field.php)</a></li>
    <li><a href="#profile_data"><b>Изминение личных даных</b> (profile_data.tpl)</a></li>
    <li><a href="#profile_change_pass"><b>Изминение пароля</b> (profile_change_pass.tpl)</a></li>
    <li><a href="#profile_history"><b>Просмотр истори заказов</b> (profile_history.tpl)</a></li>
    <li><a href="#report_appearance"><b>Сообщить о появлении</b> (report_appearance.tpl)</a></li>
    <li><a href="#wish_list_data"><b>Мини вишилист</b> (wish_list_data.tpl)</a></li>
    <li><a href="#helper"><b>Хелперные функции</b> (shop/helpers/helper.php)</a></li>

    <li class="divider"><hr/></li>
    <li class="navbar-header">
        <a href="#site" class="navbar-brand">Компоненты шаблонов сайта</a>
    </li>
    <li><a href="#config"><b>Конфигурацоный файл JS</b> (config.js.tpl)</a></li>
    <li><a href="#header"><b>Хедер</b> (header.tpl)</a></li>
    <li><a href="#footer"><b>Футер</b> (footer.tpl)</a></li>
    <li><a href="#login_popup"><b>Авторизация попап</b> (login_popup.tpl)</a></li>
    <li><a href="#register"><b>Регистрация</b> (register.tpl)</a></li>
    <li><a href="#forgot_password"><b>Напоминание пароля</b> (forgot_password.tpl)</a></li>
    <li><a href="#user_toolbar"><b>Пользовательский тулбар</b> (user_toolbar.tpl)</a></li>
    <li class="divider"><hr/></li>
    <li><a href="#drop"><b>Попапы</b></a></li>
    <li class="divider"><hr/></li>
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#menus">Меню <span class="caret"></span></a>
        <ul class="dropdown-menu up">
            <li><a href="#topmenu">Top меню</a></li>
            <li class="divider"></li>
            <li class="navbar-header">
                <a class="navbar-brand" href="#categorymenu">Меню категорий</a>
            </li>
            <li><a href="#subcategorymenu">Главное меню категорий</a></li>
            <li><a href="#ftsubcategorymenu">Меню 2 и 3 уровней категорий</a></li>
            <li><a href="#sdsubcategorymenu">Меню 3 и 4 уровней категорий</a></li>
            <li><a href="#categorymenufront">Меню категорий на главной</a></li>
            <li><a href="#categorymenufooter">Меню категорий в футере</a></li>
            <li class="divider"></li>
            <li><a href="#footermenu">Footer меню</a></li>
            <li><a href="#staticpagescategoriesmenu">Меню статических страниц и категорий</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#modules">Модули <span class="caret"></span></a>
        <ul class="dropdown-menu up">
            <li><a href="#newlevel">New Level</a></li>
            <li class="divider"></li>
            <li class="navbar-header">
                <a class="navbar-brand" href="#banners">Банеры</a>
            </li>
            <li><a href="#bannerstartpage">Банер главной страницы</a></li>
            <li><a href="#bannercategory">Банеры категорий</a></li>
            <li class="divider"></li>
            <li><a href="#comments">Комментарии</a></li>
            <li><a href="#discount">Скидки</a></li>
            <li><a href="#wishlist">Вишлист</a></li>
            <li><a href="#rating">Рейтинг</a></li>
            <li><a href="#filter">Фильтр</a></li>
            <li><a href="#socweb">Социальные сети</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#widgets">Виджеты <span class="caret"></span></a>
        <ul class="dropdown-menu up">
            <li class="navbar-header">
                <a class="navbar-brand" href="#products">Товары</a>
            </li>
            <li><a href="#viewproducts">Просмотренные товары</a></li>
            <li><a href="#similarproducts">Похожые товары</a></li>
            <li><a href="#actionproducts">Акцыонные товары</a></li>
            <li><a href="#popularproducts">Популярные товары</a></li>
            <li><a href="#popularproductscategory">Популярные товары категории</a></li>
            <li><a href="#newproducts">Новые товары</a></li>
            <li class="divider"></li>
            <li><a href="#brands">Бренды</a></li>
            <li><a href="#latestnews">Последние новости</a></li>
            <li><a href="#crumbs">Хлебные крошки</a></li>
        </ul>
    </li>
    <li class="divider"><hr/></li>
</ul>