<ul class="nav nav-stacked nav-pills affix">
    <li class="navbar-header">
        <a href="#modules" class="navbar-brand dropdown-toggle" data-toggle="dropdown">Модули <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="#newLevel"><b>NewLevel</b></a></li>
            <li><a href="#discounts"><b>Скидки</b></a></li>
            <li><a href="#banners"><b>Банеры</b></a></li>
            <li><a href="#comments"><b>Коментарии</b></a></li>
            <li><a href="#socweb"><b>Социальные сети</b></a></li>
        </ul>
    </li>
    <li class="navbar-header">
        <a href="#widgets" class="navbar-brand" data-toggle="dropdown">Виджеты <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="#htmlwidget"><b>HTML</b></a></li>
            <li><a href="#modulewidget"><b>Модульные</b></a></li>
        </ul>
    </li>
    <li class="navbar-header">
        <a href="#addfields" class="navbar-brand dropdown-toggle" data-toggle="dropdown">Дополнительные поля <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="#articles"><b>Статей</b></a></li>
            <li><a href="#forms"><b>Форм</b></a></li>
        </ul>
    </li>
    <li class="navbar-header">
        <a href="#settings" class="navbar-brand dropdown-toggle" data-toggle="dropdown">Настройки <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="#site"><b>Сайта</b></a></li>
            <li><a href="#shop"><b>Магазина</b></a></li>
        </ul>
    </li>
    <li class="navbar-header">
        <a href="#menus" class="navbar-brand">Меню</a>
    </li>
    <li class="navbar-header">
        <a href="#cash" class="navbar-brand" data-toggle="dropdown">Кеш</a>
    </li>
</ul>